* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body:before{
    content: "";
    position: absolute;
    background-image: url(./bailey-zindel-NRQV-hBF10M-unsplash.jpg);
    width: 100%;
    height: 80%;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(90%);
}

section {
    padding-top: 5rem;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section > header >h1 {
    margin: 2rem;
    font-size: xx-large;
}
.date {
    font-size: larger;
    font-weight: bold;
    margin: 0.7rem;
}
section > ul{
    display:  flex;
    list-style: none;
}
section > ul >li {
    border: 0px;
    background-color: rgba(184, 240, 250, 0.345) ;
    color: White;
    font-size: 3rem;
    font-weight: bold;
    width: max-content;
    height: 6rem;
    margin: 0rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    padding: 1rem 3rem;
    text-shadow: 2px 2px 4px rgba(62, 62, 62, 0.858);
    box-shadow: 0px 2px 3px 0px rgba(78, 78, 78, 0.616);
    border-radius: 25px;
}
.btn {
    position: absolute;
    bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.btn>button {
    background: none;
    border: none;
    margin: auto 1rem;
    color: purple;
    font-size: larger;
}

.btn>button:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.controls>button{
    font-size: large;
    margin: 0.7rem;
    padding: 0.2rem 0.3rem;
    border: none;
    border-radius: 5px;
    color: white;
    text-shadow: 2px 2px 4px rgba(62, 62, 62, 0.858);
    box-shadow: 0px 2px 3px 0px rgba(78, 78, 78, 0.616)
}
.controls>button:hover{
    cursor: pointer;
}
#Start{
    background-color:rgba(61, 126, 61, 0.874);
}
#Start:hover{
    background-color:rgb(48, 113, 48);
}
#Stop{
    background-color:rgba(53, 149, 171, 0.874);
}
#Stop:hover{
    background-color:rgb(50, 103, 162);
}
#Reset{
    background-color:rgba(180, 39, 39, 0.769);
}
#Reset:hover{
    background-color:red;
}

.time-limit{
    margin: 1rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.time-limit>div>input{
    width: 5.2rem;
    text-align: center;
    font-size: large;
    background-color: rgba(250, 250, 250, 0.653);
    border: none;
    border-radius: 5px;
    /* color: white; */
    /* text-shadow: 2px 2px 4px rgba(62, 62, 62, 0.858); */
    box-shadow: 0px 2px 3px 0px rgba(78, 78, 78, 0.616)
}

